/*Generals*/
:root{
    --beige:hsl(27, 66%, 92%);
    --darkBrown:hsl(25, 47%, 15%);
    --mediumBrown:hsl(28, 10%, 53%);
    --veryPaleOrange:hsl(33, 100%, 98%);
    --softRed:hsl(10, 79%, 65%);
    --softCyan:hsl(186, 34%, 60%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {font-size: 11px; text-align: center; margin-top: 1rem;}
.attribution a {color: hsl(228, 45%, 44%);}

body{
    background-color: var(--beige);
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

p{
    font-size: .8rem;
    color: var(--mediumBrown);
}


.main-container{
    width: 310px;
}

/*Balance*/

.balance{
    width: 100%;
    color: white;
    background-color: var(--softRed);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
}
.balance p{
    color: white;
}

.balance img{
    max-width: 20%;
    height: auto;
}

.my-balance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*graph*/

.graph{
    margin-top: 1rem;
    border-radius:.5rem ;
    background-color: var(--veryPaleOrange);
    padding: 1.5rem;
    color: var(--darkBrown);
}

.days-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1.8rem;
    text-align: center;
}

.day-cont{
    position: relative;
    width: 32px;
}
.amount{
    background-color: var(--darkBrown);
    color: white;
    position: absolute;
    width: 45px;
    padding: .3rem;
    border-radius:.2rem;
    top: -1.8rem;
    left: -.35rem;
    font-size: .7rem;
    display: none;
}

.line-graph{
    width: 100%;
    height: 100px;
    background-color: var(--softRed);
    border-radius: .2rem;
    cursor: pointer;
}

.info-amount-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem 0 0 0;
    border-top: 1px solid var(--mediumBrown);
}

.last-month{
    text-align:end;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


